[Unit]
Description=Fcitx5 IME
After=graphical-session.target

[Service]
ExecStart=/usr/bin/fcitx5 -d
Restart=on-failure

[Install]
WantedBy=default.target
