[Unit]
Description=Set a random wallpaper
After=niri.service
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wallpaper-random.sh
